BOARD Bitmap "Resources\board.bmp"
CELLS Bitmap "Resources\Cells.bmp"
CHESS Bitmap "Resources\Chess.bmp"
METEORITES Bitmap "Resources\Meteorites.bmp"
PHYSON Bitmap "Resources\Physon.bmp"
STONE Bitmap "Resources\stone.bmp"
SIGHT Cursor "Resources\Sight.cur"
HANDOPEN Cursor "Resources\HandOpen.cur"
HANDCLOSE Cursor "Resources\HandClose.cur"
MAINICON Icon "Resources\MainIcon.ico"
MAZE RCData "Resources\maze"
SPACECRAFT RCData "Resources\Spacecraft"
SPACE RCData "Resources\Space.jpg"